:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 35px;
  width: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.toggle-button {
  display: flex;
  height: 0px;
  background-color: #ecf0f1;
  width: 100%;
  position: relative;
  transition: all 0.3s;
  backface-visibility: hidden;

  &::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    top: -7px;
    right: 0px;
    left: 0px;
    background-color: #ecf0f1;
    transform-origin: center;
    transition: all 0.3s;
  }

  &::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: -7px;
    right: 0px;
    left: 0px;
    background-color: #ecf0f1;
    transform-origin: center;
    transition: all 0.3s;
  }

  &.active {
    &::after {
      transform: rotateZ(45deg);
      transform-origin: center;
      top: -2px;
      height: 3.5px;
    }

    &::before {
      transform: rotateZ(-45deg);
      bottom: -2px;
      height: 3.5px;
    }
  }

  &.dark-theme {
    &::after,
    &::before {
      background-color: #2c3e50;
    }
  }
}
